:root {
    /* Colors */
    --bg: #272a33;
    --button-bg: #3c404d;
    --header: #3c404d;
    --button-hover: #464b59;
    --select-hover: #476bd7;
    --select-selected: #284cb8;
    --input-hover: #1d1f26;
    --text-color: #d5d7de;

    --input-low: #17641e;
    --input-med: #6e520d;
    --input-high: #7d1224;
    --input-low-greyscale: #5a5a5a;
    --input-med-greyscale: #757575;
    --input-high-greyscale: #414141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

p, span {
    font-size: 1rem;
}

button, input, .import, select {
    background: var(--button-bg);
    color: var(--text-color);
    border: 1px solid var(--button-bg);
    outline: none;
    border-radius: 3px;
    padding: 5px 7px;
    cursor: pointer;
}

button:hover, input:hover, .import:hover {
    background: var(--button-hover);
    border: solid 1px var(--text-color);
}

button:active, input:active, .import:active, select:active {
    background: var(--input-hover);
    border: solid 1px var(--button-bg);
}

select:focus {
    background: var(--input-hover);
    border: 1px solid var(--select-selected);
}

input[type=file] {
    display: none;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.text-w-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.block {
    background: var(--bg);
    padding: 0;
    gap: 5px;
    display: flex;
    flex-direction: column;
    border: var(--button-bg) solid 1px;
    border-radius: 5px;
}

.block > h2 {
    font-size: 0.8rem;
    width: 100%;
    background: var(--button-bg);
    color: white;
    padding: 3px 5px;
}

.child-block {
    padding: 3px 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

section.ConnectPage {
    padding: 2px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

section.ConnectPage > * {
    width: 100%;
}
section.ConnectPage > .connexion{
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section.ConnectPage > .connexion > span{
    width: 100%;
    display: flex;
    gap: 5px;
}
section.ConnectPage > .connexion > span>input[type="text"]{
    width: 100%;
}
section.ConnectPage > .connexion > span>input[type="number"]{
    width: 22%;
}
section.ConnectPage > .connexion > input{
    width: 100%;
}
.devBlock {
    cursor: text;
    position: relative;
    text-align: start;
    background: var(--input-hover);
    font-family: Consolas, monospace;
}

.devBlock > button {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 5px 7px;
    cursor: pointer;
}


section.configPage {
    background: var(--input-hover);
    padding: 5px 7px;
    gap: 5px;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

section.configPage > * {
    width: 100%;
}

section.configPage > .action > .action-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: row;
}

section.configPage > .action > .action-buttons > button {
    width: 100%;
}

section.configPage > .countDown > .child-block {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}

section.configPage > .countDown > .child-block > span {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-between;

}
section.configPage > .countDown > .child-block > .action-on-timer {
    gap : 5px;
}
section.configPage > .countDown > .child-block > .action-on-timer > button {
    width: 100%;
}
section.configPage > .totalTime > .child-block {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section.configPage > .totalTime > .child-block > h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

section.configPage > .totalTime > .child-block > span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

section.configPage > .totalTime > .child-block > span > * {
    width: 100%;
}

section.configPage > .totalTime > .child-block > div {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section.configPage > .totalTime > .child-block > div > .input > input {
    width: 25%;
    margin: 5px;
}

section.configPage > .totalTime > .child-block > div > .action {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: row;
}

section.configPage > .totalTime > .child-block > div > .action > button {
    width: 100%;
}
section.configPage > .totalTime > .child-block > .totalTimeGoal > span > input {
    width: 20%;
}

section.configPage > .config {
    background: var(--input-hover);
    gap: 0;
}

section.configPage > .config > .child-block {
    padding: 0;
    gap: 0;
}

section.configPage > .config > .child-block > .list-child {
    background: var(--bg);
    padding: 3px 5px;
    border-bottom: 1px solid var(--button-bg);
}

section.configPage > .config > .child-block > .list-child > div {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

section.configPage > .config > .child-block > .list-child > div > .audio-buttons {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

section.configPage > .config > .child-block > .list-child > div > .audio-buttons > button {
    width: 100%;
}

section.configPage > .config > .child-block > .list-child > div > span > input[type="number"] {
    width: 4rem;
}

section.configPage > .config > .child-block > .list-child > div > .volume {
    display: flex;
    flex-direction: column;
}

section.configPage > .config > .child-block > .list-child > div > .volume > label {
    width: 100%;
    text-align: end;
    font-size: 0.8rem;
}

section.configPage > .config > .child-block > .list-child > div > .volume > input[type="range"] {
    width: 100%;
    appearance: none;
    margin: 7px 0;
    padding: 0; /* nécessaire pour IE */
    font: inherit; /* même rendu suivant font document */
    outline: none;
    opacity: .8;
    background: var(--input-low);
    background: linear-gradient(90deg, var(--input-low) 75%, var(--input-med) 75%, var(--input-med) 90%, var(--input-high) 90%);
    box-sizing: border-box; /* même modèle de boîte pour tous */
    transition: opacity .2s;
    cursor: pointer;
}

section.configPage > .config > .child-block > .list-child > div > .volume > input[type="range"].disabled {
    background: var(--input-low-greyscale);
    background: linear-gradient(90deg, var(--input-low-greyscale) 75%, var(--input-med-greyscale) 75%, var(--input-med-greyscale) 90%, var(--input-high-greyscale) 90%);
}

section.configPage > .config > .child-block > .list-child > div > .volume > input[type="range"]:hover {
    outline: none;
    border: solid 1px var(--bg);
}

section.configPage > .config > .child-block > .list-child > div > .volume > input[type="range"]::-webkit-slider-thumb {
    transform: scale(1.35);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
    width: .5rem;
    height: 1rem;
    background: var(--text-color);
    cursor: pointer;
}

section.configPage > .config > .child-block > .list-child > div > .volume > input[type="range"][step="50"] {
    -webkit-appearance: none;
    background: red;
}
