@font-face {
    font-family: "Brodaers Expanded";
    src: url(../fonts/Brodaers-Expanded-Rough.otf);
}
@font-face {
    font-family: "Covered by your grace";
    src: url(../fonts/CoveredByYourGrace.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Bold.ttf);
}
