:root {
    /* Colors */
    --bg: #272a33;
    --button-bg: #3c404d;
    --header: #3c404d;
    --button-hover: #464b59;
    --select-hover: #476bd7;
    --select-selected: #284cb8;
    --input-hover: #1d1f26;
    --text-color: #d5d7de
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}
p, span{
    font-size:1rem;
}
button, input, .import {
    background: var(--button-bg);
    color: var(--text-color);
    border: 1px solid var(--button-bg);
    outline: none;
    border-radius: 3px;
    padding: 5px 7px;
    cursor: pointer;
}
button:hover, input:hover, .import:hover {
    background: var(--button-hover);
    border: solid 1px var(--text-color);
}
button:focus, input:focus, .import:focus {
    background: var(--input-hover);
    border: solid 1px var(--button-bg);
}
input[type=file] {
    display: none;
}
.icon{
    width: 1rem;
    height: 1rem;
}
.text-w-icon{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}




section.ConnectPage {
    padding: 5px 7px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
section.ConnectPage > *{
    width: 100%;
}
